* {
  -webkit-font-smoothing: antialiased;
}

.bg-blue-900 {
  background: #005cb8 !important;
}

.hover\:bg-white:hover {
  background: white !important;
}

.text-blue-900 {
  color: #005cb8 !important;
}

.hover\:text-blue-900:hover {
  color: #005cb8 !important;
}

.bg-amber-500 {
  background: #ffd000 !important;
}

.hover\:border-amber-500:hover {
  border-color: #ffd000 !important;
}

.text-amber-500 {
  color: #ffd000 !important;
}

body {
  font-family: "Work Sans", sans-serif;
}

.transform.-translate-x-100 {
  transform: translateX(-100%);
}

.transform.-translate-x-200 {
  transform: translateX(-200%);
}

.transform.-translate-x-300 {
  transform: translateX(-300%);
}

#root {
  width: 100%;
}

.vh-85 {
  height: 85vh;
}

.bubble {
  padding: 6px;
  border-radius: 100vw;
  background: navy;
  color: white;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.28s ease-in-out;
}

.fade-out {
  opacity: 0.25;
  transition: opacity 0.28s ease-in-out;
  pointer-events: none; /* Disable pointer events while fading out */
}
.progress-bars {
  width: calc(100% - 32px);
  height: 6px; /* Adjust height as needed */

  display: flex;
  border-radius: 100vw;
  overflow: hidden;
  position: absolute;
  margin: 16px;
  gap: 2px;
}

.progress-bar {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  position: relative; /* Transition the width property over 6 seconds */
}

.progress-bar:after {
  content: "";
  position: absolute;
  width: 0px;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 8s linear;
}
.progress-bar.active:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.color-bar {
  height: 6px;
  display: flex;
  flex-wrap: wrap;
}

.color-block {
  flex-basis: 12.5%;
  aspect-ratio: 215/6;
}

.color-block:nth-child(1) {
  background-color: #011d41;
}

.color-block:nth-child(2) {
  background-color: #00467f;
}

.color-block:nth-child(3) {
  background-color: #005cb8;
}

.color-block:nth-child(4) {
  background-color: #3bb3e5;
}

.color-block:nth-child(5) {
  background-color: #ffd000;
}

.color-block:nth-child(6) {
  background-color: #a7a7a9;
}

.color-block:nth-child(7) {
  background-color: #011d41;
}

.color-block:nth-child(8) {
  background-color: #e7a614;
}

.group:hover .group-hover\:opacity-50:hover {
  opacity: 100;
}

.parallax-container {
  background-image: url("./assets/header.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.bar {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-bottom: 0.375em;
}

/* Target the last .bar element within each container */
.bar:only-of-type {
  margin-bottom: 0.2623em;
}

.bar:after {
  content: "";
  position: absolute;
  left: -0.75px;
  transform: translateY(-0.2623em);
  background-color: #fbbf24;
  width: 100%;
  left: 0;
  z-index: -1;
  border-radius: 0px;
  bottom: -0.45em;
  height: 0.275em;
}

.adjusted-e.bar:after {
  width: calc(100% - 5.5px);
  left: 3px;
}

.bar.bar--white:after {
  background-color: white;
}

.bar.bar--white + .dot {
  color: white;
}

.dot {
  /*color: #fbbf24;*/
  position: relative;
}

.text-\[17\.5px\].mt-\[32px\].lg\:mt-\[48px\].rounded-full.border.inline-block.transition.ease-in-out.text-center.cursor-pointer.width-auto.bg-\[\#00467F\].text-white.py-\[16px\].font-semibold.px-\[48px\].hover\:bg-white.hover\:text-\[\#00467F\].hover\:border-\[\#00467F\] {
  border-bottom-width: 6px;
  background: white;
  color: #00467f;
  border-color: #00467f;
  transition: ease-in-out 0.25s;
}

.text-\[17\.5px\].mt-\[32px\].lg\:mt-\[48px\].rounded-full.border.inline-block.transition.ease-in-out.text-center.cursor-pointer.width-auto.bg-\[\#00467F\].text-white.py-\[16px\].font-semibold.px-\[48px\].hover\:bg-white.hover\:text-\[\#00467F\].hover\:border-\[\#00467F\]:hover {
  border-bottom-width: 2px;
}

.container {
  max-width: 1376px !important;
}
.lg\:container {
  max-width: 1376px !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
/* For Safari on iOS */
video::-webkit-media-controls {
  display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Add this to your CSS file */
.ripple {
  position: relative;
  border-radius: 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.25;
  }
  100% {
    transform: scale(1.15);
    opacity: 0.05;
  }
}

.ripple::before {
  content: "";
  position: absolute;
  width: 0.45em;
  height: 0.45em;
  bottom: 0.11em;
  left: -0.38em;
  background-color: #fbbf24;
  border-radius: 50%;
  animation: ripple 1.5s infinite ease-in-out;
  opacity: 0;
  animation-delay: 0s;
  display: none;
}
.rfm-marquee-container {
  overflow-x: visible;
}
.rfm-marquee {
  max-height: 20vh;
  min-width: 20vh;
}
.rfm-marquee + .rfm-marquee {
  display: none;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

p a {
  border-bottom: solid 1px #00467f;
  transition: ease-in-out 0.2s;
}

p a:hover {
  border-bottom: solid 2.5px;
  cursor: pointer;
}

.hover-card-border:hover {
  box-shadow:
    0 0 0 0.5rem #e7a614,
    0.125rem 0.125rem 0.5rem 0.5rem #00000080;
  box-shadow:
    0 0 0 0.5rem var(--gold),
    0.125rem 0.125rem 0.5rem 0.5rem var(--shadow);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
