@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #00467f;
$secondary: #e7a614;
$secondary-teal: #3bb3e5;
$secondary-navy: #182467;
$success: #3bb3e5;
$info: #182467;
$black: #182467;
$warning: #000;
$danger: #000;
$dark: #182467;
$disabled: #f3f3f3;
$font-size-base: 0.9rem;
$spacer: 2rem;

body {
  font-family: "Work Sans", sans-serif !important;
}
